<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    <style>
        .buttons {
            display: flex;
            margin-top: 2rem;
        }

        .btn-success,
        .btn-danger {
            background-color: #212a2f;
            border: 1px solid #212a2f;
        }

        .fa-star {
            margin-right: 0px;
            color: #ffa41d;
            margin-bottom: 1rem;
        }

        .stock {
            color: red;
            font-size: medium;
            margin-top: 2rem
        }
    </style>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ:wght@100..400&display=swap');

        @import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Trad:wght@100..400&display=swap');

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Urbanist', sans-serif;
        }

        html {
            font-size: 62.5%;
        }

        h1,
        h2,
        h3,
        h4 {
            font-family: 'Lexend Deca', sans-serif;
        }

        h1 {
            font-size: 4.8rem;
        }

        h2 {
            font-size: 3rem;
        }

        p {
            letter-spacing: 0.08rem;
            font-size: 1.3rem;
        }

        .welcome>p {
            margin: auto;
        }

        .welcome {
            color: white;
            height: 4vh;
            display: flex;
            justify-content: center;
            /* align-content: center; */
            background-color: #212a2f;

        }

        .navbar-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }

        .left-nav,
        .logo,
        .right-nav {
            flex: 1;
        }

        .left-nav {
            display: flex;
            justify-content: flex-start;
        }

        .logo {
            display: flex;
            justify-content: center;
        }

        .right-nav {
            display: flex;
            justify-content: flex-end;
        }

        .right-nav ul {
            list-style: none;
            display: flex;
            gap: 15px;
        }

        .right-nav ul li {
            display: inline-block;
        }

        .nav-link {
            font-size: 1.6rem;
            font-weight: bold;

        }


        .nav>fa-solid {
            margin-top: 7px;
            margin-right: 1.5rem;
            margin-bottom: 2px;
            margin-left: 2px;
            font-size: 1.6rem;
            color: black;
        }

        .fa-solid:hover {
            color: grey;
        }

        .logo>a {
            font-family: "Playwrite NZ", cursive;
            font-optical-sizing: auto;
            font-weight: bold;
            font-style: normal;
            font-size: 1.6rem;
        }

        .row,
        .carousel-inner {
            height: fit-content;
            max-height: 55vh
        }

        .col {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .d-md-block {
            background-color: blanchedalmond;
            display: flex;
            justify-content: center;
            align-items: center;

        }

        .d-md-block>h2 {
            padding-top: 45%;

        }

        .d-md-block>h2,
        .d-md-block>p {
            font-family: "Playwrite US Trad", cursive;
            font-optical-sizing: auto;
            padding-left: 15%;
        }

        .product-heading,
        .latest-products-heading {
            padding: 5rem 2rem 2rem 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .product-heading>h2,
        .latest-products-heading>h1 {
            width: fit-content;
            color: grey;
        }

        .flex-container {
            display: flex;
            justify-content: center;
            align-items: center;
        }


        .latest-card {
            flex: 1;
            /* Equal flex distribution */
            position: relative;
            display: inline-block;
        }

        .latest-card>img {
            max-width: 100%;
            max-height: 50vh;
            min-height: 100%;
            display: block;
            transition: opacity 0.5s ease;
        }

        @media (max-width: 768px) {
            .flex-container {
                flex-direction: column;
            }

            .latest-card {
                margin: 0 auto 20px;
            }

            .latest-products-heading>h1 {
                font-size: 2.4rem;
            }
        }

        .latest-card .centered-btn {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: opacity 0.5s ease;
        }

        .latest-card:hover img {
            opacity: 0.5;
        }

        .latest-card:hover .centered-btn {
            opacity: 1;
        }

        .centered-btn {
            padding: 0.5rem 1.5rem 0.5rem 1.5rem;
            font-size: 1.8rem;
            border-radius: 8px;
            background-color: #212a2f;
        }




        .footer {
            height: fit-content;
            display: flex;
            background-color: #212a2f;
            justify-content: space-between;
            padding-top: 8rem;
            padding-bottom: 8rem;

        }

        #first-footer>h2 {
            font-family: "Playwrite NZ", cursive;
            margin-bottom: 2rem;
        }

        .footer-box {
            flex: 1;
            color: white;
            display: flex;
            flex-direction: column;
            padding-top: 8rem;
            padding-right: 5rem;
            padding-left: 5rem;

        }

        .footer-box>h2 {
            margin-bottom: 2rem;
        }

        @media (max-width: 768px) {
            .footer {
                flex-direction: column;
                height: fit-content;
            }

            #second-footer,
            #first-footer {
                display: none;
            }
        }

        .top-categories>a {
            text-decoration: none;
            color: white;
            font-size: 1.6rem;
        }

        #second-footer>ul>li {
            margin-top: 5px;
            margin-bottom: 5px;
            list-style-type: none;
        }

        .top-categories>a:hover {
            color: grey;
        }


        .makeup-content,
        .hair-content,
        .skincare-content {
            background-color: #212a2f;
            padding: 2rem 2rem 2rem 2rem;
        }

        .item {
            padding: 10px;
            text-align: center;
        }

        .item>a {
            text-decoration: none;
            font-size: 1.6rem;
            color: white;
        }

        .item>a:hover {
            color: grey;
        }

        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .product-info-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 20px;
            min-height: 64vh;
        }

        .product-info-container>div {
            flex: 1;
            min-width: 300px;
            box-sizing: border-box;
            padding-top: 5rem;
            display: flex;
            flex-direction: column;

        }

        .product-info-image img {
            max-width: 87%;
            height: auto;
            display: block;
            margin: 0 auto;
        }

        @media(max-width:768px) {
            .product-details {
                padding: 0;
            }

            .product-info-image {
                padding-left: 0;
                padding-top: 1rem;
            }
        }

        .product-info-price {
            color: red;
        }

        .product-info-quantity {
            display: flex;

        }

        .product-info-quantity button {
            padding: 7px;
            font-size: 16px;
            cursor: pointer;
        }

        .product-info-quantity input {
            width: 50px;
            text-align: center;
            font-size: 16px;
            margin: 0 10px;
        }

        .color-container {
            display: flex;
            align-items: center;
            margin-top: 1rem;
        }

        .color-container label {
            margin: 0 10px;
            cursor: pointer;
            font-size: 1.3rem;
        }

        .fa-regular {
            font-size: 1.5rem;
        }

        .color-container label input {
            padding-top: 24px;
            margin: 0;
            cursor: pointer;
        }

        .buttons {
            display: flex;
            flex-wrap: wrap;
            align-items: end;
        }

        .btn {
            margin: 2rem 2rem 0rem 0rem;
            font-size: 1.3rem;
        }

        .product-details>h2,
        .product-details>h3,
        .product-info-rating,
        .product-details>p {

            margin-bottom: 1rem;
        }

        .not-available {
            display: none;

        }
    </style>
</head>

<body>{{>navbar}}
    <div class="product-info-container">
        <div class="product-info-image">
            <img src="{{product.imageUrl}}" alt="Image Unavailable">
        </div>
        <div class="product-details">
            <h2 class="product-info-heading">{{product.name}}</h2>
            <h3>{{product.brand}}</h3>
            <h3 class="product-info-price">Rs. {{product.price}}</h3>
            <div class="rating" data-rating="{{product.rating}}">
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>
            <div class="product-info-description">
                <p style="color:#212a2f">{{product.description}}</p>
            </div>

            {{#if product.stock}}

            {{else}}
            <div class="stock" style="color: red; font-size: medium">
                OUT OF STOCK
            </div>
            {{/if}}

            <div id="not-available" class="not-available" style="color: red; font-size: medium">
                NOT AVAILABLE
            </div>
            <div class="buttons">
                <form action="/buy/{{product._id}}" method="POST">
                    <div class="product-info-quantity">
                        <button type="button" id="decrease" style="border: 0.5px solid gray;"
                            onclick="adjustQuantity(-1, {{product.stock}})">-</button>
                        <input type="number" name="quantity" id="quantity" value="1" min="1"
                            oninput="checkQuantity({{product.stock}})">
                        <button type="button" id="increase" style="border: 0.5px solid gray;"
                            onclick="adjustQuantity(1, {{product.stock}})">+</button>
                    </div>
                    <div id="not-available" class="not-available">
                        Not available
                    </div>
                    <button class="btn btn-success" type="submit" id="buy">
                        Add to Cart
                    </button>
                </form>

                <a href="/addProductWish/{{product._id}}"><button class="btn btn-danger" type="submit" id="buy">
                        Add to Wishlist
                    </button></a>
            </div>
            {{#if isAdmin}}
            <div class="buttons">
                <div><a href="/deleteAdmin/{{product._id}}"><i class="fa-solid fa-trash"></i></a></div>
                <div><a href="/editAdmin/{{product._id}}"><i class="fa-solid fa-pencil"></i></a></div>
            </div>
            {{/if}}
        </div>
    </div>
    {{>footer}}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script>
        function toggleHeartBackground(event) {
            const heartIcon = event.target;
            if (heartIcon.style.color === 'red') {
                heartIcon.style.color = 'black';
            } else {
                heartIcon.style.color = 'red';
            }
        }

        function limitWords(text, limit) {
            const words = text.split(' ');
            if (words.length > limit) {
                return words.slice(0, limit).join(' ') + '...';
            }
            return text;
        }

        document.addEventListener('DOMContentLoaded', function () {
            // Set up increase and decrease buttons
            {{!-- document.getElementById('decrease').addEventListener('click', function () {
                var quantity = document.getElementById('quantity');
                var value = parseInt(quantity.value, 10);
                if (value > 1) {
                    quantity.value = value - 1;
                }
            });

            document.getElementById('increase').addEventListener('click', function () {
                var quantity = document.getElementById('quantity');
                var value = parseInt(quantity.value, 10);
                quantity.value = value + 1;
            }); --}}

            // Limit words in headings
            const headings = document.querySelectorAll('.limited-heading');
            headings.forEach(heading => {
                const limitedText = limitWords(heading.innerText, 3); // Adjust the limit as needed
                heading.innerText = limitedText;
            });

            // Set rating stars
            const ratingElements = document.querySelectorAll('.rating');
            ratingElements.forEach(ratingElement => {
                const rating = parseFloat(ratingElement.getAttribute('data-rating'));
                const stars = ratingElement.querySelectorAll('i');

                stars.forEach((star, index) => {
                    if (index < rating) {
                        star.classList.remove('fa-regular');
                        star.classList.add('fa-solid');
                    }
                });
            });
        });

        function checkQuantity(stock) {
            const quantityInput = document.getElementById('quantity');
            const quantity = parseInt(quantityInput.value);
            const notAvailableDiv = document.getElementById('not-available');
            const buyButton = document.getElementById('buy');

            if (quantity > stock) {
                notAvailableDiv.style.display = 'block';
                buyButton.disabled = true;
            } else {
                notAvailableDiv.style.display = 'none';
                buyButton.disabled = false;
            }
        }

        function adjustQuantity(change, stock) {
            const quantityInput = document.getElementById('quantity');
            let quantity = parseInt(quantityInput.value);
            quantity += change;

            if (quantity < 1) {
                quantity = 1;
            }

            quantityInput.value = quantity;
            checkQuantity(stock);
        }

        // Initialize quantity check on page load
        document.addEventListener('DOMContentLoaded', function () {
            checkQuantity({{ product.stock }});
        });
    </script>




</body>

</html>