<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    <link rel="stylesheet" href="/css/products.css">
</head>

<body>
    {{>navbar}}
    <div class="filters-shortcut" style="width:100vw; padding-left:70vw;background-color:blanchedalmond">
        <div style="font-size: 1.5rem;">Filters<span style="margin-left:20px"><a><i
                        class="fa-solid fa-chevron-up"></i></a></span></div>
        {{!-- <span><a><i class="fa-solid fa-chevron-up"></i></a></span> --}}
    </div>
    
    <div class="products-page">
        {{#if searchedItem}}
        <div class="filter">
            <form action="/filters/{{searchedItem}}" method="POST">
                <!-- Product Type Filter -->
                <div class="filter-group">
                    <div class="options">
                        <label class="heading">Brands</label>
                        {{#each brands}}
                        <div class="option">
                            <input type="checkbox" id="{{this}}" name="brands" value="{{this}}">
                            <label for="{{this}}">{{this}}</label>
                        </div>
                        {{/each}}
                    </div>
                </div>

                <!-- Price Range Filter -->
                <div class="filter-group">
                    <label class="heading">Price Range</label>
                    <div class="range-inputs">
                        <input type="number" id="min-price" name="minPrice" placeholder="Min">
                        <input type="number" id="max-price" name="maxPrice" placeholder="Max">
                    </div>
                </div>
                <button class="apply" type="submit"> Apply Filters </button>
            </form>
        </div>

        {{/if}}
        <div class="allproducts">
            {{#if products.length}}
            {{#each products}}
            {{>card this}}
            {{/each}}

            {{else}}
            <div class="empty">
                <h2>Oops, No Products Found Here !!</h2>
                <a href="/"><button class="btn btn-primary">Go To Home Page</button></a>
                <a href="/searchPage"><button class="btn btn-primary">Search Your Beauty Favorite</button></a>

            </div>
            {{/if}}

        </div>
    </div>

    {{>footer}}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>