<style>
    .column {
        margin: 5px 8px;
        padding-left: 1rem;
        padding-bottom: 1rem;
        padding-right: 1rem;
        border: 1px solid black;
        border-radius: 3%;
        width: 18rem;
        height: 34rem;
    }

    .img-container {
        position: relative;
        /* Needed for positioning the heart icon */
        width: 100%;
        height: 20rem;
        overflow: hidden;
        /* Hide overflow to ensure image fits within the box */
    }

    .img-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        /* Ensure the image covers the container */
    }

    .heart-icon {
        position: absolute;
        bottom: 10px;
        left: 5px;
        font-size: 2rem;
        color: black;
        background-color: white;
        opacity: 0.8;
        /* Slight background to enhance visibility */
        cursor: pointer;
        border-radius: 50%;
        padding: 2px;
    }

    .column>h3 {
        text-transform: uppercase;
    }

    .column>a {
        text-decoration: none;
        color: black;
    }



    @media(max-width: 768px) {
        .img-container img {
            max-width: 8rem;
            max-height: 20rem;
            margin: 2px;
        }

        .column {
            max-width: 8rem;
        }
    }
</style>
<div class="column">
    <div class="img-container">
        <img src="{{imageUrl}}" alt="Product Image">
        <i class="fa-solid fa-heart heart-icon" onclick="toggleHeartBackground(event)"></i>
    </div>
    {{!-- {{brand}} --}}
    <a href="/productDetails/{{_id}}">
        <div class="content">
            <h3 class="limited-heading">{{name}}</h3>
            <p class="price" style="color:red">Rs. {{price}}</p>
            <div class="rating">
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>

        </div>
    </a>
</div>

<script>
        function toggleHeartBackground(event) {
            const heartIcon = event.target
            {{!-- const heartIcon = document.querySelector('.heart-icon'); --}}
            if (heartIcon.style.color == 'red') {
                heartIcon.style.color = 'black';
            } else {
                heartIcon.style.color = 'red';
            }
        }

    </script>

